body {
  background-image: linear-gradient(to bottom, #c21500, #ffc500, #d53369);
}
.intro {
  text-align: center;
  width: 50vw;
  height: 25vh;
}
.intro h2 {
  font-size: 3em;
}
.intro h3 {
  font-size: 4em;
}
.intro p {
  margin: 1em 0;
}
