body {
  background-color: #000;
  color: #fff;
}
.intro {
  text-align: center;
  width: 50vw;
  height: 25vh;
}
.intro h2 {
  font-size: 3em;
}
.intro h3 {
  font-size: 4em;
}
.intro p {
  margin: 1em 0;
}
.welcome {
  font-size: 4em;
  margin: 0 1em 1em 1em;
  text-align: center;
}

@media (min-width: 400px) and (max-width: 900px) {
  .intro h2 {
    font-size: 1.5em;
  }
  .intro h3 {
    font-size: 2em;
  }
  .intro p {
    margin: 1em 0;
  }
}
