<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Ryan Large" />
    <meta name="copyright" content="Ryan Large" />
    <meta name="description" content="A fullstack TodoList application." />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Gemunu+Libre&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles/profile.css" type="text/css" media="all" />
    <link rel="stylesheet" href="./partials/Header/Header.css">
    <script
      defer
      src="./JavaScript/script.js"
      type="module"
      charset="utf-8"
    ></script>
    <title>Node.js</title>
  </head>
  <body>
    <%- include('./partials/Header/Header.ejs') %>
  	<h1>Profile</h1>
    <h2><%=name%>'s ToDoo's</h2>
  </body>
  </html>