header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 7.5vh;
  min-height: 75px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  box-shadow: 0.25em 0 0.5em 0 #ff5858;
  z-index: 995;
}
.logo {
  font-size: 2.25em;
  margin-left: 0.5em;
  font-weight: 700;
}
.logo a {
  text-decoration: none;
  color: #000;
}
