header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 7.5vh;
  min-height: 75px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0.25em 0.5em 0 #000;
}
.logo {
  font-size: 2.25em;
  margin-left: 0.5em;
  font-weight: 700;
  background: -webkit-linear-gradient(#ffc500, #d53369);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo a {
  text-decoration: none;
  color: #000;
}
