header {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
}

.logo {
  font-size: 1.5em;
  margin-left: 1em;
  font-weight: 600;
}

.logo a {
	text-decoration: none;
	color: #000;
}